.game-container{

	position: relative;
}

.grid-container{
	position: absolute;
	z-index: 1;
	background-color: #bbada0;
	border-radius: 1%;
	padding: 1%;
}

.grid-row{
	display: block;
}

.grid-cell{
	width: 100px;
  	height: 100px;
	background-color: rgba(238, 228, 218, 0.35);
	border-radius: 3%;
	display: inline-block;
}

.tile{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100px;
  	height: 100px;
  	border-radius: 3%;
  	font-size: 35px;
  	font-style: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  	font-weight: 10px;
}

.tile-2{
	background-color: #eee4da;
  	color: #776e65;
}

.tile-4{
	background-color: #ede0c8;
  	color: #776e65;
}

.tile-8{
	background-color: #f2b179;
	color: #f9f6f2;
}

.tile-16{
	background-color: #f59563;
  	color: #f9f6f2;
}

.tile-32{
	background-color: #f67c5f;
  	color: #f9f6f2;
}

.tile-64{
	background-color: #f65e3b;
  	color: #f9f6f2;
}

.tile-128{
	background-color: #edcf72;
  	color: #f9f6f2;
}

.tile-256{
	background-color: #edcc61;
  	color: #f9f6f2;			
}

.tile-512{
	background-color: #edc850;
  	color: #f9f6f2;
}

.tile-1024{
	background-color: #edc53f;
  	color: #f9f6f2;
}

.tile-2048{
	background-color: #edc22e;
  	color: #f9f6f2;
}

.tile-container{
	position: absolute;
	z-index: 2;

}
.tile-position-1-1{
	transform: translate(14px,14px);
}
.tile-position-1-2{
	transform: translate(118px,14px);
}
.tile-position-1-3{
	transform: translate(222px,14px);
}
.tile-position-1-4{
	transform: translate(326px,14px);
}
.tile-position-2-1{
	transform: translate(14px,118px);
}
.tile-position-2-2{
	transform: translate(118px,118px);
}
.tile-position-2-3{
	transform: translate(222px,118px);
}
.tile-position-2-4{
	transform: translate(326px,118px);
}
.tile-position-3-1{
	transform: translate(14px,222px);
}
.tile-position-3-2{
	transform: translate(118px,222px);
}
.tile-position-3-3{
	transform: translate(222px,222px);
}
.tile-position-3-4{
	transform: translate(326px,222px);
}
.tile-position-4-1{
	transform: translate(14px,326px);
}
.tile-position-4-2{
	transform: translate(118px,326px);
}
.tile-position-4-3{
	transform: translate(222px,326px);
}
.tile-position-4-4{
	transform: translate(326px,326px);
}